main {
  min-height: 120vh;
  height: 100%;
}
.cart {
  display: flex;
  margin-top: 15vh;
  justify-content: center;
  align-items: center;
}

.cart-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.column {
  width: 90%;
  margin-top: 30px;
  box-shadow: 0px 0px 15px 4px rgba(186, 187, 190, 1);
  padding-right: 20px;
}

.cart-checkout {
  box-shadow: 0px 0px 15px 4px rgba(186, 187, 190, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15%;
  margin-left: 10%;
  height: 50vh;
}

.cart-checkout-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-checkout hr {
  height: 3px;
  width: 60%;
  background: #80c342;
  border: none;
  outline: 0;
}

.checkout-btn {
  padding: 4% 8% 4% 8%;
  border: none;
  color: black;
  cursor: pointer;
  transition: .3s;
  border:solid 1px #80C342;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.checkout-btn:hover {
  padding: 4% 12% 4% 12%;
  background-color: #80C342;
  color: white;
}

.btn-2 {
  height: 25px;
  width: 25px;
}

.cart-list input {
    text-align: center;
    background: rgb(36, 35, 35);
    color: white;
    font-size: 20px;
    height: 25px;
    margin: 60px 0;
    border: 0px;
    border-radius: 4px;
}

.cart-list .cart-img {
  object-fit: scale-down;
  width: 10%;
}

.cart-list .cart-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cart-item {
  display: flex;
  align-items: center;
}
.cart-list .remove {
    background: none;
    border: none;
    height: auto;
}

.cart-list .remove:hover {
    color: #CB4335;
}

.cart-h1 {
  font-size: 1.5em;
}

.quantity {
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}