main {
  min-height: 120vh;
  height: 100%;
}

.cart {
  display: flex;
  margin-top: 15vh;
  justify-content: center;
  align-items: center;
}

.cart-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.column {
  width: 90%;
  margin-top: 30px;
  box-shadow: 0px 0px 15px 4px rgba(186, 187, 190, 1);
  padding-right: 20px;
}

.cart-checkout {
  box-shadow: 0px 0px 15px 4px rgba(186, 187, 190, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  margin-right: 2%;
  margin-left: 10%;
  height: 50vh;
  text-align: center;
  transition: .5s;
}

@media screen and (max-width: 1100px) {
  .cart-checkout {
    width: 30%;
  }
  .blik-popup {
    width: 30% !important;
  }
}

@media screen and (max-width: 850px) {
  .cart-checkout {
    width: 40%;
  }
  .blik-popup {
    width: 40% !important;
  }
}

.cart-checkout-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-checkout hr {
  height: 3px;
  width: 60%;
  background: #80c342;
  border: none;
  outline: 0;
}

.checkout-btn {
  padding: 4% 8% 4% 8%;
  border: none;
  color: black;
  cursor: pointer;
  transition: .5s;
  border:solid 1px #80C342;
  width: 105%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.checkout-btn:hover {
  padding: 4% 12% 4% 12%;
  background-color: #80C342;
  color: white;
}

.btn-2 {
  height: 25px;
  width: 25px;
}

.cart-list input {
    text-align: center;
    background: rgb(36, 35, 35);
    color: white;
    font-size: 20px;
    height: 25px;
    margin: 60px 0;
    border: 0px;
    border-radius: 4px;
}

.cart-list .cart-img {
  object-fit: scale-down;
  width: 10%;
}

.cart-list .cart-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart-item {
  display: flex;
  align-items: center;

}
.cart-list .remove {
    background: none;
    border: none;
    height: auto;
}

.cart-list .remove:hover {
    color: #CB4335;
}

.cart-h1 {
  font-size: 1.5em;
}

.quantity {
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.blik-popup {
    display: flex;
    position: fixed;
    transition: .5s;
    top: 14vh;
    left: 0; 
    right: 0; 
    opacity: 0;
    z-index: -999;
    margin-left: auto; 
    margin-right: auto;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 20%;
    border-radius: 5%;
    box-shadow: 0px 0px 20px -5px rgba(66, 68, 90, 1);
    padding: 3%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.blik-popup img {
    height: 50px;
    cursor: pointer;
    align-self: flex-start;
}
.close-popup {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: transparent;
  height: 30px;
  width: 100%;
  border: none;
}
.close-popup-btn {
  cursor: pointer;
  border: none;
  outline: 0;
  background: transparent;
}
.paying-with {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    align-self: flex-start;
    line-height: 0px;
}

.blik-code-value {
    outline: 0;
    border: none;
    background-color: rgb(243, 243, 243);
    width: 95%;
    height: 10vh;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
-moz-apperance: textfield;
}

.renew-code {
    color: red;
    cursor: pointer;
    margin-top: 15px;
}

.btn-pay {
    background-color: rgb(252, 63, 63);
    padding: 5% 30%;
    color:white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    transition: .3s;
    margin-top: 15px;
}

.btn-pay:hover {
    background-color: red;
}

.incomeTicker {
    font-weight: bold;
    font-size: 25px;
}
