.cart {
  display: flex;
}

.cart-list {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.column {
  width: 90%;
  margin-top: 30px;
  box-shadow: 0px 0px 15px 4px rgba(186, 187, 190, 1);
  padding-right: 20px;
}
.cart-checkout {
  margin-top: 7%;
  margin-left: 18%;
}
.btn-2 {
  height: 25px;
  width: 25px;
}
.cart-list input {
    text-align: center;
    background: rgb(36, 35, 35);
    color: white;
    font-size: 20px;
    height: 25px;
    margin: 60px 0;
    border: 0px;
    border-radius: 4px;
}

.cart-list .cart-img {
  object-fit: scale-down;
  width: 10%;
}

.cart-list .cart-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cart-item {
  display: flex;
  align-items: center;
}
.cart-list .remove {
    background: none;
    border: none;
    height: auto;
}

.cart-list .remove:hover {
    color: #CB4335;
}

.cart-h1 {
  font-size: 1.5em;
}

.quantity {
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}