.single {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    margin-top: 20vh;
}
.single-info {
    padding: 0% 2% 0% 2%;
    text-align: center;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    height: 71.5vh;
    border: 1px solid black;
}
.separator-line {
    width: 100px;
    height: 2px;
    background: black;
    align-self: center;
}
.single img {
    height: auto;
    width: 25%;
}