{% extends 'shop/index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock css %}
{% block content %}
<section class="cart">
	<div class="cart-list">
		<h1 class="cart-h1">Koszyk</h1>
		{% for item in items %}
		<div class="column">
			<div class="cart-item" id="item">
				<img class="cart-img" src="{{item.product.imageURL}}">
				<p class="desc-item">{{item.product.name}}</p>
				<p class="desc-item">{{item.product.price}}</p>
				<input type="number" name="quantity" id="no-of-items"
				value="1" min="1" max="5" step="1">
				<button id="remove" class="remove">
					<i class="fas fa-trash fa-2x"></i>
				</button>
			</div>
		</div>
		{% endfor %}
	</div>

	<div class="cart-checkout">
		<h1 class="cart-h1">Do zapłaty</h1>
		<div class="row">
			<p>Wartość produktów</p>
			<p>Przesyłka</p>
			<hr>
			<strong>{{order.get_cart_items}}</strong><br/>
			<strong>Suma: {{order.get_cart_total|floatformat}} zł</strong><br/>
			<button>Zapłać</button>
		</div>
	</div>
</section>
{% endblock content %}