{% extends 'shop/index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock css %}
{% block content %}
    <form class="checkout" method="POST">
        {% csrf_token %}
        <input id="blik" type="text" name="blik" placeholder="Wprowadź kod" value="">
        <input id="verify" type="submit" value="Zweryfikuj">
    </form>
{% endblock content %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/blik.js' %}"></script>
{% endblock js %}
