<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript">
    const user = '{{request.user}}'

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    </script>
    {% block css %}
        
    {% endblock css %}
    <title>Django Shop</title>
</head>
<body>
    <nav>
        <ul>
            <li class="primary-nav">
                <img src="{% static 'img/wsei-logo.png' %}" alt="logo">
                <a href="{% url 'home' %}">Django shop</a>
            </li>
            <li class="secondary-nav">
                <a href="{% url 'login' %}">Zaloguj</a>
                <a>|</a>
                <a href="{% url 'register' %}">Zarejestruj</a>
            </li>
            <li class="secondary-nav">
                <a href="{% url 'cart' %}">Koszyk</a>
            </li>
            <li class="secondary-nav">
                <a href="{% url 'products' %}">Produkty</a>
<!--                <p class="?">{{cartItems}}</p>-->
            </li>
        </ul>
    </nav>
    <main>
        {% block content %}

        {% endblock content %}
    </main>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>
