<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript">
    const user = '{{request.user}}'
    const csrftoken = getCookie('csrftoken');

    const getCookie = name => {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            cookies.forEach(item => {
                const cookie = item.trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                }
            })
        }
        return cookieValue;
    }
    </script>
    {% block css %}
        
    {% endblock css %}
    <title>Django Shop</title>
</head>
<body>
    <nav>
        <ul>
            <li class="primary-nav">
                <img src="{% static 'img/wsei-logo.png' %}" alt="logo">
                <a href="{% url 'home' %}">Django shop</a>
            </li>
            <li class="secondary-nav">
                {% if request.user.is_authenticated %}
                <a href="{% url 'user' %}">{{request.user}}</a>
                <a>|</a>
                <a href="{% url 'logout' %}">Wyloguj</a>
                {% elif not request.user.is_authenticated %}
                <a href="{% url 'login' %}">Zaloguj</a>
                <a>|</a>
                <a href="{% url 'register' %}">Zarejestruj</a>
                {% endif %}
            </li>
            <li class="secondary-nav">
                <a href="{% url 'cart' %}">Koszyk</a>
            </li>
            <li class="secondary-nav">
                <a href="{% url 'products' %}">Produkty</a>
            </li>
        </ul>
    </nav>
    <main>
        {% block content %}

        {% endblock content %}
    </main>
        {% block js %}

        {% endblock js %}
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>
