<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Django Shop</title>
</head>
<body>
    <nav>
        <ul>
            <li class="primary-nav">
                <img src="{% static 'img/wsei-logo.png' %}" alt="logo">
                <a href="{% url 'home' %}">Django shop</a>
            </li>
            <li class="secondary-nav">
                <a href="{% url 'login' %}">Zaloguj</a>
                <a>|</a>
                <a href="{% url 'register' %}">Zarejestruj</a>
            </li>
            <li class="secondary-nav">
                <a href="{% url 'cart' %}">Koszyk</a>
            </li>
            <li class="secondary-nav">
                <a href="{% url 'products' %}">Produkty</a>
            </li>
        </ul>
    </nav>
    <main>
        {% block content %}

        {% endblock content %}
    </main>
</body>
</html>
