{% extends 'shop/index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock css %}
{% block content %}
	<section class="products-container">
		{% for object in productObjects %}
		<div class="product">
			<img src="{{ object.imageURL }}"/>
			<h1>{{ object.name }}</h1>
			<p>Cena: {{ object.price | floatformat:2 }} zł</p>
			<p>Rozmiar: {{ object.size }}</p>
			<button data-object={{object.id}} data-action="add" class="add-button">Dodaj do koszyka</button>
			<a href="{% url 'single' %}">Zobacz więcej</a>
		</div>
		{% endfor %}
	</section>
{% endblock content %}

