{% extends 'shop/index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock css %}
{% block content %}
	<section class="products-container">
		{% for item in items %}
		<div class="product">
			<img src="{{ item.imageURL }}"/>
			<h1>{{ item.name }}</h1>
			<p>Cena: {{ item.price | floatformat:2 }} zł</p>
			<p>Rozmiar: {{ item.size }}</p>
			<button data-item={{item.id}} data-action="add" class="add-button">Dodaj do koszyka</button>
			<a href="{% url 'single' %}">Zobacz więcej</a>
		</div>
		{% endfor %}
	</section>
{% endblock content %}
