{% extends 'shop/index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock css %}
{% block content %}
	<section class="products-container">
		<div class="product">
			<img src="{% static 'img/1.png' %}"/>
			<h1>Koszula</h1>
			<p>Rozmiar: M</p>
			<a href="">Dodaj do koszyka</a>
			<a href="{% url 'single' %}">Zobacz więcej</a>
		</div>
		<div class="product">
			<img src="{% static 'img/2.png' %}"/>
			<h1>Koszula</h1>
			<p>Rozmiar: M</p>
			<a href="">Dodaj do koszyka</a>
			<a href="{% url 'single' %}">Zobacz więcej</a>
		</div>
		<div class="product">
			<img src="{% static 'img/2.png' %}"/>
			<h1>Koszula</h1>
			<p>Rozmiar: M</p>
			<a href="{% url 'single' %}">Zobacz więcej</a>
		</div>
		<div class="product">
			<img src="{% static 'img/1.png' %}"/>
			<h1>Koszula</h1>
			<p>Rozmiar: M</p>
			<a href="{% url 'single' %}">Zobacz więcej</a>
		</div>
		<div class="product">
			<img src="{% static 'img/1.png' %}"/>
			<h1>Koszula</h1>
			<p>Rozmiar: M</p>
			<a href="{% url 'single' %}">Zobacz więcej</a>
		</div>
		<div class="product">
			<img src="{% static 'img/2.png' %}"/>
			<h1>Koszula</h1>
			<p>Rozmiar: M</p>
			<a href="{% url 'single' %}">Zobacz więcej</a>
		</div>
	</section>
{% endblock content %}
