{% extends 'shop/index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock css %}
{% block content %}
    <form class="register" method="POST" action="">
        {% csrf_token %}
        <div class="register-container">
            <h1>Zarejestruj się</h1>
            <hr>
            <label class="register-form-label" for="email">Email*</label><br />
                {{form.email}}<br /><br /><br />
            <label class="register-form-label" for="username">Nazwa użytkownika*</label><br />
                {{form.username}}<br /><br />
            <label class="register-form-label" for="first_name">Imię (opcjonalnie)</label><br />
                {{form.first_name}}<br /><br />
            <label class="register-form-label" for="last_name">Nazwisko (opcjonalnie)</label><br />
                {{form.last_name}}<br /><br />
            <label class="register-form-label" for="password">Hasło*</label><br />
                {{form.password1}}<br /><br />
            <label class="register-form-label" for="password-repeat">Powtórz hasło*</label><br />
                {{form.password2}}<br /><br />
            {{form.errors}}
            <br />
            <p>Poprzez tworzenie konta zgadzasz się na <a href="{% url 'terms' %}">Politykę prywatności</a> firmy</p>
            <button type="submit" class="register-button">Zarejestruj się</button>
        </div> 
        <div class="login-container">
            <p>Masz już konto? <a href="{% url 'login' %}">Zaloguj się</a></p>
        </div>
    </form>
    <script>
        const fields = document.getElementsByTagName('input')
        fields[1].placeholder = 'Wpisz adres mail..';
        fields[2].placeholder = 'Wpisz nazwę użytkownika..';
        fields[3].placeholder = 'Wpisz imię..';
        fields[4].placeholder = 'Wpisz nazwisko..';
        fields[5].placeholder = 'Wpisz hasło..';
        fields[6].placeholder = 'Wpisz jeszcze raz hasło..';

        for (let i in fields) {
            fields[i].for += i
        }
    </script>
{% endblock content %}