{% extends 'shop/index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock css %}
{% block content %}
	<section class="user-profile">
        <h1>*</h1>
        <h1>*</h1>
        <h2>{{ request.user.customer.user }}</h2>
        <h2>{{ request.user.customer.email }}</h2>
        <h2>{{ request.user.customer.balance | floatformat:2 }}</h2>
        <hr>
        <h1>Historia</h1>
        {% for transaction in order %}
            <h2>{{ transaction.get_executed_transaction }}</h2>
        {% endfor %}
	</section>
{% endblock content %}